.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #ffffff;
}

.header {
    height: calc(2em + 12px);
    margin-bottom: 16px;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #666666;
    margin-top: auto;
}

.description {
    margin-bottom: 12px;
    font-size: 0.9rem;
    line-height: 1.4;
    height: calc(3em + 12px);
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
    color: #B22222;
    margin-bottom: 8px;
}

.numberOfServices {
    font-size: 0.95rem;
    font-weight: 500;
    color: #555555;
}