.container {
    display: flex;
    height: 100vh;
}

.sidebarFixed {
    position: fixed;
    z-index: 50;
}

.content {
    transition: margin-left 0.3s ease-in-out;
    flex-grow: 1;
    margin-top: 2rem;
    padding: 1rem;
}

.contentOpen {
    margin-left: 16rem;
}

.contentClosed {
    margin-left: 0;
}
