/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set root and body to full viewport size */
  html, body, #root {
    width: 100vw;
    height: 100vh;
  }
  
  /* Style for Toast notifications */
  .Toastify__toast-container {
    z-index: 9999;
  }
  