.registerForm {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 100%;
  max-width: 420px;
  font-family: Poppins, sans-serif;
  padding: 2rem;
}

.registerTitle {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-family: "Cormorant Garamond", serif;
  position: relative;
}

.registerTitle::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.registerTitle:hover::after {
  width: 100px;
  transition: var(--transition);
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.genderContainer {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 4px;
}

.genderContainer label {
  margin-bottom: none;
  display: flex;
}

.genderContainer input {
  width: 16px;
  height: 16px;
}

.flexContainer2 {
  display: flex;
  text-align: center;
  gap: 12px;
}

.termsContainer {
  text-align: left;
  font-size: 14px;
  color: var(--text-color);
  margin: 10px 0;
}

.termsLink {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}

.termsLink:hover {
  text-decoration: underline;
}

.registerButton {
  margin-top: 1.2rem;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--accent-color);
  color: white;
  transition: var(--transition);
}

.registerButton:hover {
  background-color: darkblue;
}

.disabledForm {
  pointer-events: none;
  opacity: 0.7;
}

.loginAccountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 12px;
}

.loginAccountContainer {
  flex: 4;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  color: var(--accent-color-color);
  transition: var(--transition);
}

.loginAccountButton {
  flex: 4;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  color: var(--accent-color-color);
  transition: var(--transition);
}

.loginAccountButton:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .registerForm {
    margin-top: 40px;
  }

  .registerTitle {
    margin-bottom: 40px;
  }

  .registerButton {
    padding: 18px 20px;
  }
}

@media (max-width: 640px) {
  .registerTitle {
    font-size: 32px;
  }

  .termsContainer {
    font-size: 14px;
    margin: 40px 10px 15px 0;
  }

  .registerButton {
    font-size: 24px;
  }
}
