.loginForm {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 100%;
  max-width: 420px;
  font-family: Poppins, sans-serif;
  padding: 2rem;
}

.loginTitle {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-family: "Cormorant Garamond", serif;
  position: relative;
}

.loginTitle::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.forgotContainer {
  text-align: right;
  font-size: 14px;
  color: var(--text-color);
  margin: 10px 0;
}

.termsContainer {
  text-align: left;
  font-size: 14px;
  color: var(--text-color);
  margin: 10px 0;
}
.forgotLink,
.termsLink {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}

.forgotLink:hover,
.termsLink:hover {
  text-decoration: underline;
}

.unverifiedContainer {
  font-size: 14px;
  margin-top: 8px;
  color: var(--text-color);
}

.unverifiedText {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}

.loginButton {
  margin-top: 1.2rem;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--accent-color);
  color: white;
  transition: var(--transition);
}

.loginButton:hover {
  background-color: var(--secondary-color);
}

.loginButton:disabled {
  background-color: #d1b6a5;
  cursor: not-allowed;
}

.createAccountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 12px;
}

.createAccountButton {
  flex: 4;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  color: var(--accent-color-color);
  transition: var(--transition);
}

.createAccountButton:hover {
  text-decoration: underline;
}

.disabledForm {
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 640px) {
  .loginForm {
    padding: 1rem;
  }

  .loginTitle {
    font-size: 28px;
  }

  .loginButton,
  .createAccountButton {
    font-size: 1rem;
  }
}
