.contactSection {
    background-color: #fdf9f7;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    align-items: center;
    background: transparent;
    max-width: 900px;
  }
  
  .imageContainer {
    flex: 1;
  }
  
  .modelImage {
    width: 100%;
    border-radius: 10px;
  }
  
  .formContainer {
    flex: 1;
    background-color: #fde8e3;
    padding: 30px;
    border-radius: 10px;
    margin-left: 100px; /* Đẩy form lên gần ảnh */
  }
  
  .formTitle {
    font-size: 20px;
    color: #522d1b;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputRow {
    display: flex;
    gap: 10px;
  }
  
  .input,
  .inputHalf {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0a899;
  }
  
  .textArea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0a899;
  }
  
  .submitButton {
    width: 100%;
    background-color: #f9735b;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #e6634d;
  }
  