.container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .calendarSection {
    flex: 7;
  }
  
  .detailSection {
    flex: 3;
  }
  
  .card {
    min-height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  