.hero {
  background-image: transparent;
  background-size: 100% 100%;
  background-position: center;
  width: 100vw;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 12px;
  font-family: Playfair Display;
  color: var(--text-color);
}

.hero p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 24px;
  font-family: Dancing Script;
  color: var(--accent-color);
  text-decoration: underline;
}