.container {
    display: flex;
    flex-direction: column;
    padding: 48px 92px;
    background-color: var(--background-color); /* #ede490 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: var(--accent-color); /* #56694f */
}

.service {
    display: flex;
}

.filter {
    width: 20%;
    min-width: 160px;
    padding: 16px 24px 48px 16px;
    background-color: var(--primary-color); /* #caedb8 */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    border: 1px solid var(--accent-color); /* #56694f */
    height: fit-content;
}

.filter label {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Poppins;
    color: var(--text-color); /* #963f2e */
}

.filter ul {
    list-style-type: none;
    padding: 2px;
    margin-top: 1.2rem;
}

.filter li {
    margin-bottom: 12px;
    color: var(--accent-color); /* #56694f */
}

.selected {
    font-weight: 700;
    text-decoration: underline;
    color: var(--primary-color); /* #cd9b59 */
}

.unselected { 
    font-weight: 400;
    color: var(--accent-color); /* #56694f */
}
