.itemList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
}

.itemList>* {
    border: 1px solid var(--accent-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    box-sizing: border-box;
}

@media (max-width: 1320px) {
    .itemList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1098px) {
    .itemList {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 860px) {
    .itemList {
        grid-template-columns: 1fr;
    }
}