* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  font-family: Montserrat;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-family: Playfair Display;
}

h2 {
  font-family: Raleway;
}

p {
  font-family: Lora;
}

/* Style for Toast notifications */
.Toastify__toast-container {
  z-index: 9999;
}

:root {
  --primary-color: #ffe8d4;
  --secondary-color: #f4cfa1;
  --accent-color: #c49e85;
  --background-color: #f5e9e2;
  --text-color: #6f4e37;
}