.tabContainer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
  }
  
  .tabTitle {
    font-family: Raleway;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
  
  .serviceTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .serviceTable th,
  .serviceTable td {
    border: 1px solid var(--secondary-color);
    padding: 10px;
    text-align: left;
  }
  
  .serviceTable th {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  .serviceTable tr:nth-child(even) {
    background-color: var(--secondary-color);
  }
  
  .serviceTable tr:hover {
    background-color: var(--accent-color);
    color: white;
  }

  .editIcon {
    background-color: transparent;
    border: none;
  }