.brand {
    display: flex;
    font-family: Bodoni Moda, serif;
    color: #ac632c;
    text-align: center;
    text-decoration: none;
}

.brand span {
    font-size: 32px;
    font-weight: 700;
}

.brandHighlight {
    color: #f4b34d
}