.registerPage {
    background-color: rgb(250, 250, 250);
    padding: 79px 80px;
    min-height: 100vh;
    display: flex;
  }
  
  .container {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .brandColumn {
    width: 61%;
  }
  
  .formColumn {
    width: 39%;
  }
  
  @media (max-width: 991px) {
    .registerPage {
      padding: 40px 20px;
    }
  
    .container {
      flex-direction: column;
    }
  
    .brandColumn,
    .formColumn {
      width: 100%;
    }
  }